<nav class="bottom-nav">
  <ul>
    <li><a href="/" class="nav-link" data-link>
      <div class="icon-wrapper">
        <ion-icon name="home-outline"></ion-icon>
        <span class="icon-text">Главная</span>
      </div>
    </a></li>
    <li><a href="/add-recipe" class="nav-link" data-link>
      <div class="icon-wrapper">
        <ion-icon name="add-circle-outline"></ion-icon>
        <span class="icon-text">Рецепт</span>
      </div>
    </a></li>
    <li><a href="#" id="change-bg" class="nav-link">
      <div class="icon-wrapper">
        <ion-icon name="color-palette-outline"></ion-icon>
        <span class="icon-text">Фон</span>
      </div>
    </a></li>
  </ul>
</nav>


  
  